/* google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Roboto:wght@300&display=swap');

/* General styles */
body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: lato, sans-serif;
    color: white;

}

h1,
h2,
h3 {
    letter-spacing: 2px;
    font-family: Roboto, sans-serif;
    color: black;
}

/* Header */
Header {
    background-color: rgb(110, 111, 112);
    position: fixed;
    width: 98%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 0.61rem;


}

Header a {
    text-decoration: none;

}

/* Nav styles with dropdown */
nav {
    position: absolute;
    background-color: #ffffff;
    left: 0;
    width: 100%;
    display: none;
    top: 100%;
}

#navbar {
    font-size: 100%;
    letter-spacing: 4px;
    list-style-type: none;

}

#navbar>li {
    margin-bottom: 1rem;
}


/* Nav toggle */
#nav-toggle:checked~nav {
    display: block;

}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 2rem;
}

/* Main Content */
#main {
    background: url("../images/pexels-cottonbro-studio-4056535 (2).jpg") no-repeat center center/cover;
    padding-top: 40rem;
    width: 100%;
}

#yoga-text {
    font-size: 100%;
    position: relative;
    width: 30%;
    margin-left: 55rem;
    font-style: italic;

}

#yoga-text>h1,
h2 {
    color: #ffffff;
}

/* About */
#about {
    background-color: rgb(173, 166, 166);
    width: 100%;
    color: white;
    font-size: 18px;
}

#about>h2,
#about>p {
    margin-left: 15rem;
}

#about>p {
    font-style: italic;
    padding-bottom: 1rem;
}

#about-list>li {
    margin-bottom: 1rem;
}

/* table */
table {
    margin-left: 15rem;
    justify-content: space-between;
    letter-spacing: 4px;
    margin-bottom: 2px;
    width: 250px;

}

/* Sign Up */
#sign-up {
    background: url("../images/pexels-ekaterina-bolovtsova-4051518.jpg") no-repeat center center/cover;
    width: 30%;
    margin-left: 55rem;
    height: 500rem;
    position: relative;
    bottom: 0.1rem;
    padding-bottom: 4rem;
    padding-left: 10px;
}

#sign-up>h2 {
    padding-top: 4rem;
    margin-bottom: 4rem;

}

#first_name,
#last_name,
#email_address {
    margin-bottom: 2rem;
    font-size: 10px;
    margin-left: 20px;
}

#first_name {
    margin-bottom: 4rem;
    margin-left: 2.4rem;
}

#last_name {
    margin-bottom: 4rem;
    margin-left: 2.7rem;
}

#signup-form {
    color: white;
}

/* footer */
footer {
    font-size: larger;
    align-items: center;
    height: 200rem;
    position: relative;
    bottom: 30rem;
    padding-bottom: 4rem;
}


#contact>p {
    color: black;
}

/* social */
#social-contact {
    display: flex;
    flex-direction: row;
    position: relative;
    bottom: 6rem;
    list-style-type: none;
}

#social-contact i {
    color: rgb(89, 87, 87);
    margin-left: 10rem;
    font-size: 40px;

}

/* Media query: tablets and larger (768px and up) */
@media screen and (min-width: 768px) {

    /* Header */
    nav {
        display: block;
        position: relative;
        width: fit-content;
        padding-right: 1rem;
    }

    #navbar {
        display: flex;
    }

    #navbar>li {
        padding-left: 1rem;
    }

    .nav-toggle-label {
        display: none;
    }

    #logo {
        margin-left: 2px;
        font-size: 150%;
        line-height: 75px;
        margin: 0 0.5rem;
    }

    /* Media query: phones (540px and lesser) */
    @media screen and (max-width: 540px) {
        #main {
            padding-left: ;
        }
    }